:root {
    --www-seattlenorthmagnolia-com-open-sans-regular-font-family: "Open Sans",
      Helvetica;
    --www-seattlenorthmagnolia-com-open-sans-regular-font-weight: 400;
    --www-seattlenorthmagnolia-com-open-sans-regular-font-size: 19.200000762939453px;
    --www-seattlenorthmagnolia-com-open-sans-regular-letter-spacing: 0px;
    --www-seattlenorthmagnolia-com-open-sans-regular-line-height: 30.719999313354492px;
    --www-seattlenorthmagnolia-com-open-sans-regular-font-style: normal;
    --www-seattlenorthmagnolia-com-open-sans-semibold-font-family: "Open Sans",
      Helvetica;
    --www-seattlenorthmagnolia-com-open-sans-semibold-font-weight: 600;
    --www-seattlenorthmagnolia-com-open-sans-semibold-font-size: 16px;
    --www-seattlenorthmagnolia-com-open-sans-semibold-letter-spacing: 0px;
    --www-seattlenorthmagnolia-com-open-sans-semibold-line-height: 25.600000381469727px;
    --www-seattlenorthmagnolia-com-open-sans-semibold-font-style: normal;
    --www-seattlenorthmagnolia-com-montserrat-bold-font-family: "Montserrat",
      Helvetica;
    --www-seattlenorthmagnolia-com-montserrat-bold-font-weight: 700;
    --www-seattlenorthmagnolia-com-montserrat-bold-font-size: 24px;
    --www-seattlenorthmagnolia-com-montserrat-bold-letter-spacing: 0px;
    --www-seattlenorthmagnolia-com-montserrat-bold-line-height: 38.400001525878906px;
    --www-seattlenorthmagnolia-com-montserrat-bold-font-style: normal;
    --www-seattlenorthmagnolia-com-inter-bold-font-family: "Inter", Helvetica;
    --www-seattlenorthmagnolia-com-inter-bold-font-weight: 700;
    --www-seattlenorthmagnolia-com-inter-bold-font-size: 12.98828125px;
    --www-seattlenorthmagnolia-com-inter-bold-letter-spacing: 0px;
    --www-seattlenorthmagnolia-com-inter-bold-line-height: normal;
    --www-seattlenorthmagnolia-com-inter-bold-font-style: normal;
    --www-seattlenorthmagnolia-com-semantic-blockquote-font-family: "Open Sans",
      Helvetica;
    --www-seattlenorthmagnolia-com-semantic-blockquote-font-weight: 400;
    --www-seattlenorthmagnolia-com-semantic-blockquote-font-size: 16px;
    --www-seattlenorthmagnolia-com-semantic-blockquote-letter-spacing: 0px;
    --www-seattlenorthmagnolia-com-semantic-blockquote-line-height: 25.600000381469727px;
    --www-seattlenorthmagnolia-com-semantic-blockquote-font-style: normal;
    --www-seattlenorthmagnolia-com-semantic-heading-1-font-family: "Montserrat",
      Helvetica;
    --www-seattlenorthmagnolia-com-semantic-heading-1-font-weight: 600;
    --www-seattlenorthmagnolia-com-semantic-heading-1-font-size: 40px;
    --www-seattlenorthmagnolia-com-semantic-heading-1-letter-spacing: 0px;
    --www-seattlenorthmagnolia-com-semantic-heading-1-line-height: 64px;
    --www-seattlenorthmagnolia-com-semantic-heading-1-font-style: normal;
    --www-seattlenorthmagnolia-com-semantic-heading-2-font-family: "Montserrat",
      Helvetica;
    --www-seattlenorthmagnolia-com-semantic-heading-2-font-weight: 600;
    --www-seattlenorthmagnolia-com-semantic-heading-2-font-size: 32px;
    --www-seattlenorthmagnolia-com-semantic-heading-2-letter-spacing: 0px;
    --www-seattlenorthmagnolia-com-semantic-heading-2-line-height: 51.20000076293945px;
    --www-seattlenorthmagnolia-com-semantic-heading-2-font-style: normal;
    --www-seattlenorthmagnolia-com-semantic-heading-3-font-family: "Montserrat",
      Helvetica;
    --www-seattlenorthmagnolia-com-semantic-heading-3-font-weight: 600;
    --www-seattlenorthmagnolia-com-semantic-heading-3-font-size: 24px;
    --www-seattlenorthmagnolia-com-semantic-heading-3-letter-spacing: 0px;
    --www-seattlenorthmagnolia-com-semantic-heading-3-line-height: 38.400001525878906px;
    --www-seattlenorthmagnolia-com-semantic-heading-3-font-style: normal;
    --www-seattlenorthmagnolia-com-semantic-heading-4-font-family: "Montserrat",
      Helvetica;
    --www-seattlenorthmagnolia-com-semantic-heading-4-font-weight: 600;
    --www-seattlenorthmagnolia-com-semantic-heading-4-font-size: 16px;
    --www-seattlenorthmagnolia-com-semantic-heading-4-letter-spacing: 0px;
    --www-seattlenorthmagnolia-com-semantic-heading-4-line-height: 25.600000381469727px;
    --www-seattlenorthmagnolia-com-semantic-heading-4-font-style: normal;
    --www-seattlenorthmagnolia-com-semantic-input-font-family: "Inter", Helvetica;
    --www-seattlenorthmagnolia-com-semantic-input-font-weight: 400;
    --www-seattlenorthmagnolia-com-semantic-input-font-size: 12.572656631469727px;
    --www-seattlenorthmagnolia-com-semantic-input-letter-spacing: 0px;
    --www-seattlenorthmagnolia-com-semantic-input-line-height: normal;
    --www-seattlenorthmagnolia-com-semantic-input-font-style: normal;
    --localhost-open-sans-regular-font-family: "Open Sans", Helvetica;
    --localhost-open-sans-regular-font-weight: 400;
    --localhost-open-sans-regular-font-size: 16px;
    --localhost-open-sans-regular-letter-spacing: 0px;
    --localhost-open-sans-regular-line-height: 25.600000381469727px;
    --localhost-open-sans-regular-font-style: normal;
    --localhost-open-sans-semibold-font-family: "Open Sans", Helvetica;
    --localhost-open-sans-semibold-font-weight: 600;
    --localhost-open-sans-semibold-font-size: 16px;
    --localhost-open-sans-semibold-letter-spacing: 0px;
    --localhost-open-sans-semibold-line-height: 25.600000381469727px;
    --localhost-open-sans-semibold-font-style: normal;
    --localhost-montserrat-bold-font-family: "Montserrat", Helvetica;
    --localhost-montserrat-bold-font-weight: 700;
    --localhost-montserrat-bold-font-size: 24px;
    --localhost-montserrat-bold-letter-spacing: 0px;
    --localhost-montserrat-bold-line-height: 38.400001525878906px;
    --localhost-montserrat-bold-font-style: normal;
    --localhost-semantic-strong-font-family: "Open Sans", Helvetica;
    --localhost-semantic-strong-font-weight: 400;
    --localhost-semantic-strong-font-size: 16px;
    --localhost-semantic-strong-letter-spacing: 0px;
    --localhost-semantic-strong-line-height: 25.600000381469727px;
    --localhost-semantic-strong-font-style: normal;
    --localhost-semantic-item-font-family: "Open Sans", Helvetica;
    --localhost-semantic-item-font-weight: 400;
    --localhost-semantic-item-font-size: 16px;
    --localhost-semantic-item-letter-spacing: 0px;
    --localhost-semantic-item-line-height: 25.600000381469727px;
    --localhost-semantic-item-font-style: normal;
    --localhost-semantic-link-font-family: "Montserrat", Helvetica;
    --localhost-semantic-link-font-weight: 700;
    --localhost-semantic-link-font-size: 24px;
    --localhost-semantic-link-letter-spacing: 0px;
    --localhost-semantic-link-line-height: 38.400001525878906px;
    --localhost-semantic-link-font-style: normal;
    --localhost-semantic-blockquote-font-family: "Open Sans", Helvetica;
    --localhost-semantic-blockquote-font-weight: 400;
    --localhost-semantic-blockquote-font-size: 16px;
    --localhost-semantic-blockquote-letter-spacing: 0px;
    --localhost-semantic-blockquote-line-height: 25.600000381469727px;
    --localhost-semantic-blockquote-font-style: normal;
    --localhost-semantic-heading-1-font-family: "Montserrat", Helvetica;
    --localhost-semantic-heading-1-font-weight: 600;
    --localhost-semantic-heading-1-font-size: 40px;
    --localhost-semantic-heading-1-letter-spacing: 0px;
    --localhost-semantic-heading-1-line-height: 64px;
    --localhost-semantic-heading-1-font-style: normal;
    --localhost-semantic-heading-2-font-family: "Montserrat", Helvetica;
    --localhost-semantic-heading-2-font-weight: 600;
    --localhost-semantic-heading-2-font-size: 32px;
    --localhost-semantic-heading-2-letter-spacing: 0px;
    --localhost-semantic-heading-2-line-height: 51.20000076293945px;
    --localhost-semantic-heading-2-font-style: normal;
    --localhost-semantic-heading-3-font-family: "Montserrat", Helvetica;
    --localhost-semantic-heading-3-font-weight: 600;
    --localhost-semantic-heading-3-font-size: 24px;
    --localhost-semantic-heading-3-letter-spacing: 0px;
    --localhost-semantic-heading-3-line-height: 38.400001525878906px;
    --localhost-semantic-heading-3-font-style: normal;
    --localhost-semantic-heading-4-font-family: "Montserrat", Helvetica;
    --localhost-semantic-heading-4-font-weight: 600;
    --localhost-semantic-heading-4-font-size: 16px;
    --localhost-semantic-heading-4-letter-spacing: 0px;
    --localhost-semantic-heading-4-line-height: 25.600000381469727px;
    --localhost-semantic-heading-4-font-style: normal;
    --localhost-font-awesome-5-brands-regular-font-family: "Font Awesome 5 Brands",
      Helvetica;
    --localhost-font-awesome-5-brands-regular-font-weight: 400;
    --localhost-font-awesome-5-brands-regular-font-size: 16px;
    --localhost-font-awesome-5-brands-regular-letter-spacing: 0px;
    --localhost-font-awesome-5-brands-regular-line-height: 16px;
    --localhost-font-awesome-5-brands-regular-font-style: normal;
    --localhost-font-awesome-5-free-solid-font-family: "Font Awesome 5 Free",
      Helvetica;
    --localhost-font-awesome-5-free-solid-font-weight: 400;
    --localhost-font-awesome-5-free-solid-font-size: 16px;
    --localhost-font-awesome-5-free-solid-letter-spacing: 0px;
    --localhost-font-awesome-5-free-solid-line-height: 16px;
    --localhost-font-awesome-5-free-solid-font-style: normal;
  }
  